header {
  background-color: #F8F8F8;
}

header ul {
  margin: 0;
}

header a,
header li {
  padding: 1.4rem 0;
  color: #777;
  font-weight: bold;
}

/* new bootstrap4 fancy */
body {
  padding-top: 3.6em;
}

.navbar-right {margin-right: 5rem;}

.navbar-header {/* margin-left: 3rem; */
                padding-top: 1rem;}


/* drop down menu code */
/* mobile */
@media(max-width: 48em){
  nav .btn-group {
    position: absolute;
    top: 0;
    right: 4em;
  }
}

/* tablet but disappears on mobile ??? */
@media(max-width: 76em){
  nav .btn-group {
    position: absolute;
    top: 1em;
    right: 30em;
  }
}

/****************************************** header **********************/

section#intro-header {
  background-image: url(../images/background4.jpg);
  background-size: cover;
  margin-bottom: 10px;
}

section#intro-header .wrap-headline {
 /* position: relative; */
  padding-top: 20%;
  padding-bottom: 20%;
}

section#intro-header h1,
section#intro-header h2 {
  color: #FFF;
}

section#intro-header h1 {
	font-size: 5rem;
}

section#intro-header h2 {
  font-size: 3rem;
}

section#intro-header hr {
  width: 10%;
}

section#intro-header .btn-default {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
}

/* drop down menu */

 nav .btn-group {
  margin: 0.8rem 2rem 0 0;
}



/* ABOUT */

section#about img {
  margin-top: 6.5rem;
  margin-bottom: 5rem;
  font-size: 15rem;
}

section#about h3 {
  margin-top: 10rem;
  font-size: 2rem;
}

section#about img {margin-bottom: 5rem ;}

section#about p {
	font-size: 2rem;
}


/********************************* EDUCATION *****************/

/*
section#education .table th {font-size: 1.7rem;}

section#education .table td {font-size: 1.7rem;} */

section#education {font-size:2rem;}


/*********************** SKILLS(FEATURES) ****************** */

section#features {
  background: url("../images/background4.jpg");
  background-size: cover;
  border-top: 0.1rem solid #e9e9e9;
  border-bottom: 0.1rem solid #e9e9e9;
  margin-top: 3rem;
  color: #FFF;
}

/*@media(min-width: 30em)(max-width:48em){
 section#features .feature-tag:
    color: #FFF;
  }
} */

section
section#features * {
  color: #657C8E;
}


section#features .feature {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
} 

/* new for bootstrap4fancy */

section#features .feature {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

section#features .glyphicon {
  font-size: 2rem;
}

section#features .glyphicon-heart {
  color: #E04C4C;
}

section#features .feature-tag {
  max-width: 10.7em;
  display: inline-block;
  text-align: left;
  margin-left: 1.5em;
  font-size: 2rem;
  color: #FFF;
}

/*********************************** WORK EXP **************/

section#workexp .list-group li {
  font-size:18px;
}

section#workexp .text-center li {font-size:18px;}

section#workexp .text-center h3 {text-decoration: underline;}


/********************************* HOBBIES ***************************/

section#features2 {
  background: url("../images/background4.jpg");
  background-size: cover;
  border-top: 0.1rem solid #e9e9e9;
  border-bottom: 0.1rem solid #e9e9e9;
}

section#features2 * {
  color: #657C8E;
}


section#features2 .feature2 {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
} 

/* new for bootstrap4fancy */

section#features2 .feature2 {
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}

section#features2 .glyphicon {
  font-size: 2rem;
}

section#features2 .glyphicon-heart {
  color: #E04C4C;
}

section#features2 .feature2-tag {
  max-width: 10.7em;
  display: inline-block;
  text-align: left;
  margin-left: 1.5em;
  font-size: 1.7rem;
}

/*****************************************************************/


													/* PRICE TABLE 
section#pricing h3.price-headline {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

section#pricing .white-text {
  color: #FFF;
}

section#pricing thead .success {
  background-color: #78CFBF;
}

section#pricing thead .info {
  background-color: #3EC6E0;
}

section#pricing thead .danger {
  background-color: #E3536C;
}

section#pricing tbody .success {
  background-color: #82DACA;
}

section#pricing tbody .info {
  background-color: #53CFE9;
}

section#pricing tbody .danger {
  background-color: #EB6379;
}

section#pricing .center-block {
  width: 90%
}


													/* NEWS LETTER */

section#newsletter {
  border-top: 1px solid #E0E0E0;
  padding-top: 3.2em;
  margin-top: 2em;
}

section#newsletter h4 {
  padding: 1em;
}

section#newsletter form {
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 5.5em;
}

*/


                    /* WORK EXP */

section#workexp #table td {width: 90%
}

/*section#workexp #col-sm-6 h4 {
  margin-left: 5rem;
} */
														/* FOOTER */

footer {
  background-color: #191919;
  color: #ADADAD;
  margin-top: 3em;
}

footer h5,
footer img {
  margin-top: 5em;
  font-weight: bold;
}

footer address {
  margin-top: 5em;
  margin-bottom: 5em;
  color: #5A5A5A;
}

footer ul {
  margin-bottom: 5em;
}

footer address strong {
  color: #ADADAD;
  display: block;
  padding-bottom: 0.62em;
}

footer a {
  font-weight: 300;
  color: #5A5A5A;
}

footer a:hover {
  text-decoration: none;
  color: #FFF;
}



										/* FORM CODE FOR CONTACT.HTML */

section#contact form {
  padding-top: 9rem;
  padding-bottom: 3rem;
}


/* sign on */

.hidden-element {
  display: none;
}


/******************************** PORTFOLIO *********************************/

section#portfolio * {text-align: center;
                      font-size: 3rem;}



/********************************** HOBBIES ********************** */

section#hobbies ul {
   background-image: url(../images/background4.jpg);
      background-size: cover;
  margin-bottom: 10px;
  margin: 5rem 0;
}

section#hobbies h3 {text-align: center;
                        font-size: 4rem;
}

section#hobbies li {
  margin: 0 5rem;
}

section#hobbies h5 {
  font-size: 1.5rem;
  font-weight: bold;
}
